@using DeliverTableSharedLibrary.Constants.Enums
@using DeliverTableSharedLibrary.Dtos.Restaurant
@inject NavigationManager Nav
@inject IRestaurantService RestaurantService

<EditForm Model="@_creationDto" OnValidSubmit="HandleCreation">
    <DataAnnotationsValidator/>
    <div class="col gap-1 mb-1">
        <label for="restaurant-name">Nom du restaurant</label>
        <InputText id="restaurant-name" @bind-Value="_creationDto.Name"/>
        <ValidationMessage For="@(() => _creationDto.Name)" class="text-danger" />
    </div>
    
    <div class="col gap-1 mb-1">
        <label for="restaurant-description">Description</label>
        <InputTextArea id="restaurant-description" @bind-Value="_creationDto.Description"/>
        <ValidationMessage For="@(() => _creationDto.Description)" class="text-danger" />
    </div>

    
    <div class="col gap-1 mb-1">
        <label for="restaurant-address1">Adresse du restaurant</label>
        <InputText id="restaurant-address1" @bind-Value="_creationDto.AdressLine1"/>
        <ValidationMessage For="@(() => _creationDto.AdressLine1)" class="text-danger" />
    </div>

    <div class="col gap-1 mb-1">
        <label for="restaurant-address2">Complément d'adresse</label>
        <InputText id="restaurant-address2" @bind-Value="_creationDto.AdressLine2"/>
        <ValidationMessage For="@(() => _creationDto.AdressLine2)" class="text-danger" />
    </div>

    <div class="col gap-1 mb-1">
        <label for="restaurant-city">Ville</label>
        <InputText id="restaurant-city" @bind-Value="_creationDto.City"/>
        <ValidationMessage For="@(() => _creationDto.City)" class="text-danger" />
    </div>

    <div class="col gap-1 mb-1">
        <label for="restaurant-ZipCode">Code Postal</label>
        <InputText id="restaurant-ZipCode" @bind-Value="_creationDto.ZipCode"/>
        <ValidationMessage For="@(() => _creationDto.ZipCode)" class="text-danger" />
    </div>

    <div class="col gap-1 mb-1">
        <label for="restaurant-Country">Pays</label>
        <InputSelect id="restaurant-Country" @bind-Value="_creationDto.Country">
        <option value="">-- Sélectionnez un type --</option>
        @foreach (AvailableCountries country in Enum.GetValues<AvailableCountries>())
        {
            <option value="@country">@country.ToString()</option>
        }
        </InputSelect>
        <ValidationMessage For="@(() => _creationDto.Country)" class="text-danger" />
    </div>

    <div class="col gap-1 mb-1">
        <label for="restaurant-type">Type de restaurant</label>
        <InputSelect id="restaurant-type" @bind-Value="_creationDto.Type">
        <option value="">-- Sélectionnez un type --</option>
        @foreach (RestaurantType type in Enum.GetValues<RestaurantType>())
        {
            <option value="@type">@type.ToString()</option>
        }
        </InputSelect>
        <ValidationMessage For="@(() => _creationDto.Type)" class="text-danger" />
    </div>

    <button type="submit" class="app-btn mx-auto flex mt-1" disabled="@_isSubmitting">
        @if (_isSubmitting)
        {
            <span class="spinner-border spinner-border-sm"></span> <span> Vérification des informations ...</span>
        }
        else
        {
            <span>Création</span>
        }
    </button>
</EditForm>
@code
{
    private CreateRestaurantDto _creationDto = new CreateRestaurantDto ();
    private string? _errorMessage;
    private bool _isSubmitting = false;

    private async Task HandleCreation()
    {
        _isSubmitting = false;
        _errorMessage = null;

        try{
            _isSubmitting = true;
            bool response = await RestaurantService.CreateRestaurant(_creationDto);
            if(response)
            {
                Nav.NavigateTo(uri: "/profil"); 
            }
        } catch(System.Exception exception) {
            _errorMessage = exception.Message;
            _isSubmitting = false;
        }
    }
}